.body {
  margin-left: 25%;
  width: 50%;
}

p-checkbox {
  margin-right: 10px;
}

.generator {
  vertical-align: center;
}

p-button {
  margin-right: 10px;
}

.result {
  margin-top: 10px;
  margin-bottom: 10px;
}
